target/
.idea/

pom.xml.bak
*.iml
._*
.DS_Store
.AppleDouble
.LSOverride
*.class
*.log
hs_err_pid*
replay_pid*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar